# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
.venv/
.venv-py*/
env/
ENV/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE specific files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Local development settings
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db 